<div class="boxAccordin">
    <ul>
        <li id="MainAccordin"><span class="" style="color: #DBC687;">♦ ♦ ♦ ♦ ♦ ♦ ♦</span>
            <a href=" content.php?i=gioi_thieu_may_chu_moi#MainAccordin " target="_blank "><img src="http://jxbachu.com/include/web_skins/tisu/images/trang.jpg " alt="Đua TOP máy chủ mới " style="display: none; "></a>
        </li>
        <li><span class="current " style='color: #DBC687;'>♦ ♦ ♦ ♦ ♦ ♦ ♦</span>
            <a href="content.php?i=download#MainAccordin " target="_blank "><img src="http://jxbachu.com/include/web_skins/tisu/images/tai_game_cai_dat_img.png " alt="Tải game và cài đặt " style="display: inline; "></a>
        </li>
        <li><span class="" style='color: #DBC687;'>♦ ♦ ♦ ♦ ♦ ♦ ♦</span>
            <a href=" content.php?i=cong_thanh_chien_3_tru#MainAccordin " target="_blank "><img src="http://jxbachu.com/include/web_skins/tisu/images/cong_thanh_dai_chien_img.png " alt="Công thành đại chiến " style="display: none; "></a>
        </li>
    </ul>
</div>