<div class="Footer ">
    <div class="b">
        <img src="http://jxbachu.com/include/web_skins/tisu/images/logo_menu_top.png " />
        <div class="l "></div>
        <div class="c ">
            <img src="http://jxbachu.com/include/web_skins/tisu/images/logo_kingsoft.png " style="height: auto;margin: 0 9px 0px 22px; " />
            <a>Bản quyền trò chơi thuộc công ty Kingsoft.</a>
        </div>
        <div class="c " style="margin-top: 8px;margin-left: 44px; ">
            <img src="http://jxbachu.com/include/web_skins/tisu/images/logo_vng.png " style="height: auto;margin-top: 0;margin-right: 37px; " />
            <a>Công ty Cổ phần VNG phân phối độc quyền tại Việt Nam.<br>182 Lê Đại Hành, Phường 15, Quận 11, TP.HCM. Số giấy phép: 365/GP-BC.</a>
        </div>
        <div style="float: left;height: 1px;width: 639px;margin-left: 21px;background: #666879;margin-top: 2px; ">
            <a class="c " style="margin: 11px 0 0 0; ">Ba Chu phát hành miễn phí.<br>Lưu ý: Ba Chu không phải nhà phát hành chính thức, Anh em cần cân nhắc trước khi tham gia.<br>Website hỗ trợ tốt nhất trên Google Chrome và nhân Chromium.</a>
            <p style='display:none'>
                <a>
                    <strong>
                </strong>
                </a>
            </p>
        </div>
    </div>
</div>