<div class="ContentBody ">
    <div class="LeftBody ">
        <div class="Support ">
            <div class="t ">
                <a style="float: left;margin-top: 18px;color: #AD8732;font-family: 'UTM AptimaBold';font-size: 20px; ">Yêu cầu hỗ trợ</a>
            </div>
            <div class="b ">
                <a style="font-size: 15px;color: #AD8732;margin-top: 7px; " href="https://www.facebook.com/bachuprivate/ " target="_blank ">FB: liên kết facebook</a>
                <a>Mail: jxbachu@gmail.com</a>
                <a href="https://www.facebook.com/bachuprivate/ " target="_blank " style="color: black; ">FPage: liên kết fanpage</a>
                <a href="https://www.facebook.com/bachuprivate/ " target="_blank " class="ReqS ">Yêu cầu ngay</a>
            </div>
        </div>
        <a href=code class="GiftCode "></a>
        <a class="HuongDanTanThu " href="news.php?tanthu=1#MainAccordin "></a>
        <div class="BoxFanpage ">

        </div>
    </div>

    <div class="RightBody ">
        <router-outlet></router-outlet>
    </div>

</div>