<div class="fix-right_ ">
    <ul>
        <li>
            <span class="green ">Tải Game Và Cài Đặt</span>
            <a href="content.php?id=download#MainAccordin ">
                <img src="http://jxbachu.com/include/web_skins/tisu/images/img-download-fix-right.png ">
            </a>
        </li>
        <li>
            <span class="purple ">Vòng Quay May Mắn</span>
            <a>
                <img src="http://jxbachu.com/include/web_skins/tisu/images/img-vongquay-fix-right.png ">
            </a>
        </li>
        <li>
            <span class="orange ">Trang Chủ</span>
            <a [routerLink]="['/']">
                <img src="http://jxbachu.com/include/web_skins/tisu/images/img-nhiemvu-fix-right.png ">
            </a>
        </li>
        <li>
            <span class="yellow ">Ranking</span>
            <a>
                <img src="http://jxbachu.com/include/web_skins/tisu/images/img-bxh-fix-right.png ">
            </a>
        </li>
        <li>
            <span class="blue ">Facebook</span>
            <a href="https://www.facebook.com/bachuprivate/ " target="_blank ">
                <img src="http://jxbachu.com/include/web_skins/tisu/images/img-fb-fix-right.png ">
            </a>
        </li>
    </ul>
</div>