<div style="padding-top: 20px;padding-bottom: 20px;height: 52px;background-color: rgba(0, 0, 0, 0.18);">
    <div class="MenuTop">
        <div class="MenuSubLeft">
            <div class="MenuSubChild" style="margin-right: 40px;">
                <a style="background: url('http://jxbachu.com/include/web_skins/tisu/images/icon_menu.png') no-repeat;" class="MenuSubChieldIcon" [routerLink]="['/']"></a>
                <a class="MenuSubChieldText" [routerLink]="['/']">trang chủ</a>
                <div style="height: 72px" class="MenuSubChildSubMenu">
                    <a class="MenuSubChildSubMenuChild" href="news.php?news=1#MainAccordin">Tin Tức</a>
                    <a class="MenuSubChildSubMenuChild" href="news.php?events=1#MainAccordin" style="border: none;">Sự Kiện</a>
                </div>
            </div>
            <div class="MenuSubChild" style="margin-right: 40px;">
                <a style="background: url( 'http://jxbachu.com/include/web_skins/tisu/images/icon_menu.png') -96px 0px no-repeat;" class="MenuSubChieldIcon" href="news.php?features=1#MainAccordin"></a>
                <a class="MenuSubChieldText" href="news.php?features=1#MainAccordin">tính năng</a>
                <div style="height: 295px" class="MenuSubChildSubMenu">
                    <a class="MenuSubChildSubMenuChild" href="content.php?i=cong_thanh_chien_3_tru#MainAccordin">Công Thành Chiến 3 Trụ</a>
                    <a class="MenuSubChildSubMenuChild" href="content.php?i=phong_hoa_lien_thanh#MainAccordin">Phong Hỏa Liên Thành</a>
                    <a class="MenuSubChildSubMenuChild" href="content.php?i=phong_ky_toa_do#MainAccordin">Tín Sứ - Phong Kỳ Tọa Độ</a>
                    <a class="MenuSubChildSubMenuChild" href="content.php?i=hoa_son_dai_chien#MainAccordin">Hoa Sơn Đại Chiến</a>
                    <a class="MenuSubChildSubMenuChild" href="content.php?i=san_nhim_beo_phi#MainAccordin">Săn Nhím Béo Phì</a>
                    <a class="MenuSubChildSubMenuChild" href="content.php?i=lien_dau#MainAccordin">Liên Đấu - Đơn Đấu Tự Do</a>
                    <a class="MenuSubChildSubMenuChild" href="content.php?i=boss_hoang_kim#MainAccordin">Boss Hoàng Kim - Sát Thủ</a>
                    <a class="MenuSubChildSubMenuChild" href="content.php?i=vuot_ai_viem_de#MainAccordin" style="border: none;">Vượt Ải Viêm Đế</a>
                </div>
            </div>
            <div class="MenuSubChild">
                <a style="background: url( 'http://jxbachu.com/include/web_skins/tisu/images/icon_menu.png') -48px 0px no-repeat;" class="MenuSubChieldIcon" href="news.php?camnang=1#MainAccordin"></a>
                <a class="MenuSubChieldText" href="news.php?camnang=1#MainAccordin">cẩm nang</a>
                <div style="height: 183px" class="MenuSubChildSubMenu">
                    <a class="MenuSubChildSubMenuChild" href="content.php?i=diem_danh_hang_ngay#MainAccordin">Điểm Danh Hằng Ngày</a>
                    <a class="MenuSubChildSubMenuChild" href="content.php?i=nhan_thuong_theo_dang_cap#MainAccordin">Thưởng Đẳng Cấp</a>
                    <a class="MenuSubChildSubMenuChild" href="content.php?i=thuong_online#MainAccordin">Nhận Thưởng Online</a>
                    <a class="MenuSubChildSubMenuChild" href="content.php?i=thuong_nv_da_tau#MainAccordin">Thưởng Mốc Dã Tẩu Ngày</a>
                    <a class="MenuSubChildSubMenuChild" href="content.php?i=cam_nang_dong_hanh#MainAccordin" style="border: none;">Cẩm Nang Đồng Hành</a>
                </div>
            </div>
        </div>
        <a class="LogoMenuTop" [routerLink]="['/']"></a>
        <div class="MenuSubRight">
            <div class="MenuSubChild">
                <a style="background: url( 'http://jxbachu.com/include/web_skins/tisu/images/icon_menu.png') -146px 0px no-repeat;width: 50px;margin-left: 18px;" class="MenuSubChieldIcon"></a>
                <a class="MenuSubChieldText">nhân vật</a>
                <div style="height: 366px" class="MenuSubChildSubMenu">
                    <a class="MenuSubChildSubMenuChild" href="content.php?i=thieu_lam_phai#MainAccordin">Thiếu Lâm</a>
                    <a class="MenuSubChildSubMenuChild" href="content.php?i=thien_vuong_bang#MainAccordin">Thiên Vương</a>
                    <a class="MenuSubChildSubMenuChild" href="content.php?i=duong_mon_phai#MainAccordin">Đường Môn</a>
                    <a class="MenuSubChildSubMenuChild" href="content.php?i=ngu_doc_giao#MainAccordin">Ngũ Độc</a>
                    <a class="MenuSubChildSubMenuChild" href="content.php?i=nga_my_phai#MainAccordin">Nga My</a>
                    <a class="MenuSubChildSubMenuChild" href="content.php?i=thuy_yen_phai#MainAccordin">Thúy Yên</a>
                    <a class="MenuSubChildSubMenuChild" href="content.php?i=cai_bang_phai#MainAccordin">Cái Bang</a>
                    <a class="MenuSubChildSubMenuChild" href="content.php?i=thien_nhan_giao#MainAccordin">Thiên Nhẫn</a>
                    <a class="MenuSubChildSubMenuChild" href="content.php?i=con_lon_phai#MainAccordin">Côn Lôn</a>
                    <a class="MenuSubChildSubMenuChild" href="content.php?i=vo_dang_phai#MainAccordin" style="border: none;">Võ Đang</a>
                </div>
            </div>
            <div class="MenuSubChild" style="margin-left: 40px;">
                <a style="background: url('http://jxbachu.com/include/web_skins/tisu/images/icon_menu.png') -196px 0px no-repeat;width: 37px;margin-left: 22px;" class="MenuSubChieldIcon" href="news.php?tanthu=1#MainAccordin"></a>
                <a class="MenuSubChieldText" href="news.php?tanthu=1#MainAccordin">tân thủ</a>
                <div style="height: '222px'" class="MenuSubChildSubMenu">
                    <a class="MenuSubChildSubMenuChild">Cài Đặt Trò Chơi</a>
                    <a class="MenuSubChildSubMenuChild">Cài Đặt Trò Chơi</a>
                    <a class="MenuSubChildSubMenuChild">Khởi Động Auto Train</a>
                    <a class="MenuSubChildSubMenuChild">Chỉnh Chế Độ Màng Hình</a>
                    <a class="MenuSubChildSubMenuChild">Hệ Thống Giao Diện Game</a>
                    <a class="MenuSubChildSubMenuChild" style="border: none;">Các Phím Tắt Thường Dùng</a>
                </div>
            </div>
            <div class="MenuSubChild" style="margin-left: 40px;">
                <a style="background: url( 'http://jxbachu.com/include/web_skins/tisu/images/icon_menu.png') -233px 0px no-repeat;width: 17px;margin-left: 31px;" class="MenuSubChieldIcon" [routerLink]="['/']"></a>
                <a class="MenuSubChieldText" style="margin-left: 0;" href="https://www.facebook.com/bachuprivate/" target="_blank">cộng đồng</a>
                <div style="height: 75px" class="MenuSubChildSubMenu">
                    <a class="MenuSubChildSubMenuChild" href="https://www.facebook.com/bachuprivate/" target="_blank">Tham Gia Fanpage</a>
                    <a class="MenuSubChildSubMenuChild" href="https://www.facebook.com/bachuprivate/" target="_blank" style="border: none;">Tham Gia Hội Nhóm</a>
                </div>
            </div>
        </div>
    </div>
</div>