<div style="padding-top: 20px;padding-bottom: 20px;height: 52px;background-color: rgba(0, 0, 0, 0.18);">
    <div class="MenuTop">
        <div class="MenuSubLeft" *ngIf="menuLeft">
            <div class="MenuSubChild" style="margin-right: 40px;" *ngFor="let menu of menuLeft">
                <a style="background: url( 'http://jxbachu.com/include/web_skins/tisu/images/icon_menu.png')" class=" MenuSubChieldIcon " [routerLink]="[ '/'] "></a>
                <a class="MenuSubChieldText " [routerLink]="[menu.url] ">{{menu.name}}</a>
                <div [ngStyle]="{ 'height': (36.6 * menu.childrent.length) + 'px'} " class="MenuSubChildSubMenu " *ngIf="menu.childrent ">
                    <a *ngFor="let chil of menu.childrent " [routerLink]="[chil.url] " class="MenuSubChildSubMenuChild ">{{chil.name}}</a>
                </div>
            </div>
        </div>
        <a class="LogoMenuTop " [routerLink]="[ '/'] "></a>
        <div class="MenuSubRight " *ngIf="menuRight ">
            <div class="MenuSubChild " *ngFor="let menu of menuRight ">
                <a style="background: url( 'http://jxbachu.com/include/web_skins/tisu/images/icon_menu.png') -146px 0px no-repeat;width: 50px;margin-left: 18px; " class="MenuSubChieldIcon "></a>
                <a class="MenuSubChieldText ">{{menu.name}}</a>
                <div [ngStyle]="{ 'height': (36.6 * menu.childrent.length) + 'px'} " class="MenuSubChildSubMenu " *ngIf="menu.childrent ">
                    <a *ngFor="let chil of menu.childrent " class="MenuSubChildSubMenuChild " [routerLink]="[chil.url] ">{{chil.name}}</a>
                </div>
            </div>
        </div>
    </div>
</div>